<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test5">
    <classes>
      <class name="udemydemo.day1"/>
      <class name="udemydemo.day2"/>
      <class name="udemydemo.day3"/>
      <class name="udemydemo.ParamTest"/>
      <class name="udemydemo.day4"/>
      <class name="udemydemo.myclass"/>
      <class name="udemydemo.NewTest"/>
      <class name="udemydemo.TestBeforeClass"/>
    </classes>
  </test> <!-- Test5 -->
</suite> <!-- Suite -->
